*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
crosswind-android/build
crosswind-tornadofx/build
geobrowser-android/build
geobrowser-desktop/build
google_maps_api.xml
geobrowser/build
geobrowser-desktop/classes
.idea/
geobrowser-android/app/build
geobrowser-desktop/build
geobrowser/build
geobrowser-android/build
